@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400, 600, 700;
  src: url("./font/Source_Sans_Pro/SourceSansPro-Light.ttf");
  src: local("./font/Source_Sans_Pro/SourceSansPro-Regular.ttf"),
    url("./font/Source_Sans_Pro/SourceSansPro-Italic.ttf"),
    url("./font/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

/* @import url("font/Source_Sans_Pro/css2?family=SourceSansPro:ital,wght@0,400;0,600;0,700&display=swap"); */

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Hanlde on hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}
